pleo-and-another-nicholas-testing-directory-changes-nicholas-client-js/** linguist-generated
pleo-and-another-nicholas-testing-directory-changes-nicholas-client-kotlin/** linguist-generated
pleo-and-another-nicholas-testing-directory-changes-nicholas-client-kotlin/build.gradle.kts !linguist-generated
pleo-and-another-nicholas-testing-directory-changes-nicholas-rest/api/and-another-nicholas-testing-directory-changes-nicholas-openapi.yaml linguist-generated
